@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile First Styles */
body {
  font-family: "Work Sans", sans-serif;
  line-height: 1.6;
  background: linear-gradient(135deg,
      #eba58d,
      #f2c0c1,
      #a0b9e0,
      #e0e2ed,
      #d6cae4,
      #f2e0ed,
      #f8c9cf,
      #fef2c9);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
  height: 100%;

}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 1em;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 70px;
  gap: 3em;

}

.logo {
  width: 100px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100;
  position: relative;
  transition: transform 0.3s ease;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: black;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.hamburger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.menu {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

}

.menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
  width: 100%;
  align-items: center;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.menu ul li a:hover {
  background-color: #c7c7c7;
  color: black;
}

.menu button {
  border: none;
  padding: 0.8em 1.2em;
  border-radius: 10px;
  background-color: #f0f0f0;
  cursor: pointer;
  margin-bottom: 15px;
}

.menu button a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.menu button:hover {
  background-color: #e0e0e0;
}

/* Active Menu Styles */
.menu.active {
  display: flex;
}

/* Tablet Styles (min-width: 768px) */
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: static;
    background: none;
    box-shadow: none;
  }

  .menu ul {
    flex-direction: row;
    gap: 1.5em;
    padding: 0;
  }

  .menu button {
    padding: 0.8em 1.5em;
    margin-top: 15px;
  }
}

/* Desktop Styles (min-width: 1024px) */
@media (min-width: 1024px) {


  .menu ul {
    justify-content: center;
    flex: 1;
  }

  .menu ul li a {
    font-size: 1.1em;
  }

  .menu button {
    padding: 0.8em 1.5em;
    margin-top: 15px;
  }

  main {
    padding: 3em;
  }

  footer {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  .menu button {
    display: none;
  }
}

/*--------------------------------Content-------------------------------------------*/
.slider-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  padding: 10px;
  margin-top: 20px;
}

.card-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
  gap: 15px;
  width: max-content;
}

.spacer {
  padding: 50px;
}

.card {
  width: 300px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: #a0b9e0;
  border-radius: 15px;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
  color: #333;
}

.slide-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#prev-btn {
  left: 10px;
}

#next-btn {
  right: 10px;
}

img {
  object-fit: cover !important;
}

@media (max-width: 800px) {
  .slider-container {
    width: 87%;
    padding: 5px;
    border-radius: 30px;

  }

  .card-wrapper {
    gap: 0px;
    width: max-content;
  }

  .card {
    width: 100%;
    padding: 200px;
    height: 500px;
    border-radius: 30px;
  }

  .name {
    margin-top: 15px;
    color: white;
    font-size: 20px;
  }

  .slide-btn {
    width: 35px;
    height: 35px;
    background-color: white;
    color: #333;

  }

  .card img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 350px;
    border-radius: 10px;
  }

  .button-container {
    padding: 20px;
    margin-top: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .button-container button {
    padding: 20px;
    border-radius: 30px;
    font-size: 20px;
    background-color: #f8f9fa;
    border: none;
    transition: border 0.3s, background-color 0.5s;
    border: #eba58d00 solid 2px;
  }

  .button-container button:hover {
    border: #eba58d solid 2px;
    background-color: #fef3ed;
    cursor: pointer;
  }

  .title {
    display: none;
  }

  .inline {
    display: inline-block;
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
    gap: 5px;
  }

  legend {
    font-size: 1.2em;
    font-weight: bold;
  }

  form section {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  form input,
  form textarea,
  form button {
    width: 100%;
    height: 2.5em;
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  form input:focus,
  textarea:focus {
    outline: none;
  }

  form label {
    text-align: left;
  }

  form textarea {
    height: 6em;
    resize: none;
  }

  form input[type="radio"] {
    width: auto;
    height: auto;
  }

  form input[name="surnameTh"] {
    margin-top: 3px;
  }

  form button {
    background-color: #fef2c9;
    border: none;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    padding: 0px;
    width: 50%;
    height: 2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: black;
  }

  form button:hover {
    background-color: #e0e0e0;
  }

  .sub-container {
    text-align: right;
  }

  .radio-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
  }

  .radio-group label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1em;
  }

  :root {
    --color1: #f8c9cf;
    --color2: #f2d7ee;
    --color3: #c8f4de;
    --color4: #fde5b6;
    --color5: #c9daf8;
  }

  .user-comment {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 10px;
    border-radius: 25px;
    background-color: var(--random-color, #f8c9cf);
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
  }

  #user_name {
    font-size: 20px;
    color: #ff5269;
  }

  .comment-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  .comment-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
  }

  #sidebar {
    display: none;
  }

}


@media (min-width: 800px) {
  .card-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
  }

  .card:nth-child(-n+3) {
    width: calc(33.33% - 10px);
  }

  .card:nth-child(n+4):nth-child(-n+5) {
    width: calc(42% - 10px);
    margin: 0 auto;
  }

  .card:nth-child(n+6):nth-child(-n+7) {
    width: calc(42% - 10px);
    margin: 0 auto;
  }

  .card:nth-child(n+8) {
    display: none;
  }

  .card {
    padding: 20px;
    border: rgb(255, 255, 255) solid 2px;
  }

  .name {
    margin-top: 15px;
    color: white;
    font-size: 21px;
  }

  .slide-btn {
    display: none;
  }

  .card img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 220px;
    border-radius: 10px;
  }

  .button-container {
    display: none;
  }

  .title {
    font-size: 80px;
    color: white;
    display: flex;
    justify-content: center;
  }

  #sidebar {
    position: fixed;
    top: 0px;
    left: -350px;
    width: 350px;
    height: 100%;
    background-color: #f2e0ed;
    opacity: 95%;
    color: white;
    transition: left 0.3s ease;
    padding: 20px;
    overflow: scroll;
  }

  #sidebar form {
    margin-top: 100px;
    padding: 20px;
    background-color: #a0c3ff;
    border-radius: 10%;
    margin-bottom: 10px;
  }

  #sidebar form legend {
    color: black;
    font-size: 20px;
    font-weight: bold;
  }

  form button {
    background-color: #fef2c9;
    align-items: center;
    border: none;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    padding: 0px;
    width: 100px;
    height: 2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  :root {
    --color1: #f8c9cf;
    --color2: #f2d7ee;
    --color3: #c8f4de;
    --color4: #fde5b6;
    --color5: #c9daf8;
  }

  .user-comment-desktop {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 10px;
    border-radius: 25px;
    background-color: var(--random-color, #f8c9cf);
    color: white;
    font-size: 15px;
    margin-bottom: 5px;
  }

  #user_name {
    font-size: 20px;
    color: #ff5269;
  }

  .comment-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  .comment-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
  }

}

.card:nth-child(4) {
  background-color: #cfbfe0;
}

.card:nth-child(5) {
  background-color: #cfbfe0;
}

.card:nth-child(6) {
  background-color: #f2c0c1;
}

.card:nth-child(7) {
  background-color: #f2c0c1;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}